{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="The future of cryptocurrencies, Andromeda Token.">
    <meta name="keywords" content="Cryptocurrency, bitcoin, bitcoin landing, blockchain, crypto trading ">
    <meta name="author" content="Ecology Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andromeda Token</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/assets/bootstrap.min.css' %}">
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="{% static 'css/assets/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/font-awesome.css' %}">
    
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <!-- popup-->
    <link rel="stylesheet" href="{% static 'css/assets/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/animate.css' %}">
    <!-- preloader css-->    
    <link rel="stylesheet" href="{% static '' %}css/assets/preloader.css">
    <!-- main style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cryptonio.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
                            
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body_06">
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<header id="header-06" class="header">
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-light bg-faded cripto_nav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand"  data-scroll  href="{% url 'index' %}"><img src="{% static 'images/gradient-logo.png' %}" alt="logo"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a data-scroll href="#header-06" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a data-scroll href="#welcome_cryptonic_06" class="nav-link">About</a></li>
                    <li class="nav-item"><a data-scroll href="#whitepapers-section" class="nav-link">Whitepapers</a></li>
                    <li class="nav-item"><a data-scroll href="https://poocoin.app" class="nav-link">Poocoin</a></li>                   
                    <li class="nav-item"><a data-scroll href="https://t.me/AndromedaTokenChat" class="nav-link">Telegram</a></li>
                    <li class="nav-item"><a data-scroll href="https://bscscan.com" class="nav-link">BSCScan</a></li>
                </ul>
            </div>
            <div class="language">
                <a href="https://pancakeswap.finance" class="token">Buy token</a>
            </div>
        </div>
    </nav><!-- END NAVBAR -->

    <div class="container">
        <div class="row">                
            <div class="col-12 col-md-12 col-lg-6">
                <div class="intro-text">
                    <h1>Welcome to the Andromeda.</h1>
                    <p>A Community powered token specifically designed not to be rugpulled.
                    WE ARE STILL IN VERY EARLY DEVELOPMENT SO PLEASE FORGIVE US FOR ANY BUGS YOU COME ACROSS ON THE WEBSITE</p>
                    <div class="btn_video_wrapper">
                        <a href="#whitepapers-section" class="btn btn-default btn-default-style">View whitepapers</a>
                        <div class="video_wrapper">
                            <a href="https://bscscan.com" class="btn btn-default btn-default-style">View on BSCScan</a>
                        </div>                        
                    </div>
                    <div class="btn_video_wrapper">
                        <a href="https://t.me/AndromedaTokenChat" class="btn btn-default btn-default-style">Join our Telegram!</a>
                        <div class="video_wrapper">
                            <a href="https://poocoin.app" class="btn btn-default btn-default-style">View Charts</a>
                        </div>                        
                    </div>
                    <div class="countdown_time">
                        <h3>Presale Ends in</h3>
                        <div class="clock-countdown">
                            <div class="site-config" data-date="05/05/2021 00:00:00" data-date-timezone="+0"></div>
                            <div class="coundown-timer d-flex justify-content-center">
                                <div class="single-counter  d-flex flex-column"><h4><span class="days count-time gradient-color" >00</span></h4><span class="normal">Days</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="hours count-time gradient-color">00</span></h4><span class="normal">Hours</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="minutes count-time gradient-color">00</span></h4><span class="normal">Minutes</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="seconds count-time gradient-color">00</span></h4><span class="normal">Seconds</span></div>
                            </div>
                        </div> 
                        <div class="count-time_btn">
                            <a href="https://dxsale.com" title="" class="gradient-color"><span>Join presale with DXSale</span></a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-6 img-wrapper">
                <div class="intro-img">
                    <div class="bounce_wrapper">
                        <img src="{% static 'images/header-06.png' %}" alt="">
                        <div class="shape-1">
                            <div class="box bounce-1"><img src="{% static 'images/bounce/header1_b.png' %}" alt=""></div>
                        </div>  
                    </div>
                </div>
            </div>               
        </div>  
    </div>



    
    <span class="shape1 header-shape"><img src="{% static 'images/shape/home_6/header6_shape_1.png' %}" alt=""></span>
    <span class="shape2 header-shape"><img src="{% static 'images/shape/home_6/header6_shape_2.png' %}" alt=""></span>
    <span class="shape3 header-shape"><img src="{% static 'images/shape/home_6/header6_shape_3.png' %}" alt=""></span>   
    <span class="shape4 header-shape "><img src="{% static 'images/shape/home_6/header6_shape_4.png' %}" alt=""></span>   
    <span class="shape5 header-shape"><img src="{% static 'images/shape/home_6/header6_shape_5.png' %}" alt=""></span>     
    <span class="shape6 header-shape"><img src="{% static 'images/shape/home_6/header6_shape_6.png' %}" alt=""></span>     

    <span class="bubble1 header-shape"><img src="{% static 'images/particals_icon/fixed1.png' %}" alt=""></span>   
    <span class="bubble2 header-shape"><img src="{% static 'images/particals_icon/fixed1.png' %}" alt=""></span>     
    <span class="bubble3 header-shape"><img src="{% static 'images/particals_icon/fixed2.png' %}" alt=""></span>
    <span class="bubble4 header-shape"><img src="{% static 'images/particals_icon/fixed4.png' %}" alt=""></span>  

    <div id="particles1-js" class="particles"></div>  
</header> <!-- End Header -->

<section id="welcome_cryptonic_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay=".1s">Welcome to Andromeda Token</h2>
                </div>
            </div>
        </div>      
        <div class="row ">     
            <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
                <div class="about_cryptonic-content">
                    <img src="{% static 'images/welcome-6.png' %}" alt=""  class="wow ZoomInUp" data-animate="ZoomInUp" data-delay=".3s">
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s">OUR CONTRACT IS DESIGNED TO REWARD HOLDERS WHILE INCREASING IN VALUE AND LOCKING LIQUIDITY. THIS IS ACCOMPLISHED BY TAXING 6% OF EACH TRANSACTION. REDISTRIBUTING 4% AND LOCKING INTO LIQUIDITY THE OTHER 2%.</p>
                    <a href="#whitepapers-section" class="btn btn-default btn-default-style wow fadeInUp" data-animate="fadeInUp" data-delay="0.4s">Learn More</a>
                </div>
            </div>           
        </div>         
    </div>
    <span class="shape1 header-shape"><img src="{% static 'images/shape/home_6/wel-map.png' %}" alt=""></span>
    <span class="bubble1 header-shape"><img src="{% static 'images/particals_icon/fixed1.png' %}" alt=""></span>   
    <span class="bubble2 header-shape"><img src="{% static 'images/particals_icon/fixed1.png' %}" alt=""></span> 
    <div id="particles2-js" class="particles"></div>  
</section> <!-- End welcome_cryptonic -->

<section id="whitepapers-section">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.2s">About our whitepapers</h2>
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s">Artificial intelligence based on neural networks, built using the newest algorithms for self-learning, analysis and comparison of neurons in which will be self-corrected, based on the history of success and failure, taking into account the correlation of the objects of analysis.</p>

                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.4s">Due to the use of large computing power and artificial based on the neural network, the NRM assistant will instantly analyze user data and offer solutions for their further use.</p>
                    <a href="#" class="btn btn-default btn-default-style wow fadeInUp" data-animate="fadeInUp" data-delay="0.5s">Download Whitepaper</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img">
                    <div class="img-wrapper">
                         <img src="{% static 'images/index-about.png' %}" alt=""  class="wow fadeInUp" data-animate="fadeInUp" data-delay=".3s">
                    </div>
                </div>
            </div>            
        </div>    
    </div>
    <span class="shape1 header-shape"><img src="{% static 'images/shape/home_6/about-light-1.png' %}" alt=""></span>
    <span class="shape2 header-shape"><img src="{% static 'images/shape/home_6/about-light-2.png' %}" alt=""></span>
    <span class="bubble1 header-shape"><img src="{% static 'images/particals_icon/fixed1.png' %}" alt=""></span>   
    <span class="bubble2 header-shape"><img src="{% static 'images/particals_icon/fixed2.png' %}" alt=""></span>     
    <span class="bubble3 header-shape"><img src="{% static 'images/particals_icon/fixed3.png' %}" alt=""></span>
    <div id="particles3-js" class="particles"></div>
</section> <!-- End about_cryptonic -->


<!-- <section id="best_feature_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6>How it Works</h6>
                    <h2>Best Features</h2>
                    <p>Due to the use of large computing power is assistant will instantly analyze user data offer solutions for their further use orem Ipsum has been the industry's st</p>
                </div>
            </div>
        </div>        
        <div class="row feature_items d-flex justify-content-between">        
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>Lowest Cost</h3>
                    <img src="images/icons/feature-01.png" alt="">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h3>Safe Contracts</h3>
                    <img src="images/icons/feature-02.png" alt="">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <h3>Fast Blockchain</h3>
                    <img src="images/icons/feature-03.png" alt="">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                </div>
            </div>
        </div>  
    </div>
    <span class="shape1 header-shape"><img src="images/shape/home_6/feature-1.png" alt=""></span>
    <div id="particles4-js" class="particles"></div>  
</section>  -->

<!-- <section id="token_sale_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Token</h6>
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Token Sale</h2>
                </div>
            </div>
        </div>        
        <div class="row pricing_items">        
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>Normal Price <span class="hover_text">Normal Price</span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3 >03 June 2020</h3>
                        <p>Sofecap $2M</p>
                    </div>
                    <div class="sale">
                        <a href="#" title="">Pre sale</a>
                    </div>
                        
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>20% Bonus<span class="hover_text">20% Bonus</span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>05 July 2020</h3>
                        <p>Sofecap $7M</p>
                    </div>
                    <div class="sale">
                        <a href="#" title="">Sale stage 01</a>
                    </div>
                        
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>10% Bonus<span class="hover_text">10% Bonus</span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>09 August 2020</h3>
                        <p>Sofecap $3M</p>
                    </div>
                    <div class="sale">
                        <a href="#" title="">Sale stage 02</a>
                    </div>
                        
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>30% Bonus<span class="hover_text">30% Bonus</span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>08 October 2020</h3>
                        <p>Sofecap $5M</p>
                    </div>
                    <div class="sale">
                        <a href="#" title="">Sale stage 03</a>
                    </div>
                        
                </div>
            </div>
        </div> 

        <div class="row pricing_bottom">        
            <div class="col-sm-12 col-md-12 col-lg-12">  
                <div class="pricing_list_wrapper">
                    <ul class="list-unstyled item_list_1  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <li><h3>Pre-Sale starts</h3> <span>07-08-2020</span></li>
                        <li><h3>Pre-Sale End</h3> <span>07-08-2020</span></li>
                     </ul>                
                     <ul class="list-unstyled item_list_2  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <li><h3>Pre-Sale Terms</h3> <span>First week 25% bonus and then 20% bonus</span></li>
                        <li><h3>Token Price</h3> <span>$0.90 USD</span></li>
                     </ul>                
                     <ul class="list-unstyled item_list_3  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <li><h3>Total of Token</h3> <span>5,87,085,070</span></li>
                        <li><h3>Specifications</h3> <span>Ecology Token</span></li>
                     </ul>                     
                </div>
            </div>
        </div>          
    </div>
    <span class="shape1 header-shape"><img src="images/shape/home_6/token_sale.png" alt=""></span> 
    <span class="shape2 header-shape"><img src="images/shape/home_6/token_sale_1.png" alt=""></span>  
    <span class="bubble1 header-shape"><img src="images/particals_icon/fixed1.png" alt=""></span>   
    <span class="bubble2 header-shape"><img src="images/particals_icon/fixed1.png" alt=""></span>     
    <span class="bubble4 header-shape"><img src="images/particals_icon/fixed3.png" alt=""></span>
    <div id="particles5-js" class="particles"></div>  
</section> End token_sale -->



<!-- <section id="token_distribution_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Token Details</h6>
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Token Distribution</h2>
                </div>
            </div>
        </div> 
        <div class="row distribution_single_items">        
            <div class="col-sm-12 col-md-6 col-lg-6 distribution_single_item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
               <div class="distribution_single">
                   <div class="distribution_wrapper">
                        <div class="distribution_details">
                           <h3>Token</h3>
                           <div class="token_shape">
                                <span class="shape1 header-shape"><img src="images/shape/home_6/token_1.png" alt=""></span>
                                <span class="shape2 header-shape"><img src="images/shape/home_6/token_2.png" alt=""></span>
                                <span class="shape3 header-shape"><img src="images/shape/home_6/token_3.png" alt=""></span>
                                <span class="shape4 header-shape"><img src="images/shape/home_6/token_4.png" alt=""></span>
                                <span class="shape5 header-shape"><img src="images/shape/home_6/token_5.png" alt=""></span>  
                           </div>   
                       </div> 
                       <ul class="details_content">
                           <li class="details details_1">
                                <p>ICO Token Sales</p> 
                                <div class="details_caption">
                                    <span>40%</span>
                                </div>
                            </li>
                           <li class="details details_2">
                                <p>Sold Globaly</p> 
                                <div class="details_caption">
                                    <span>10%</span>
                                </div>
                            </li>
                           <li class="details details_3">
                                <p>Reserve Fund</p> 
                                <div class="details_caption">
                                    <span>20%</span>
                                </div>
                            </li>
                           <li class="details details_4">
                                <div class="details_caption">
                                    <span>10%</span>
                                </div>
                                <p>ICO Program</p> 
                            </li>
                            <li class="details details_5">
                                <div class="details_caption">
                                    <span>5%</span>
                                </div>
                                <p>Pre sale Token</p>  
                            </li>
                            <li class="details details_6">
                                <div class="details_caption">
                                    <span>15%</span>
                                </div>
                                <p>Team Advisor</p> 
                            </li>
                       </ul>                    
                   </div>
               </div>
            </div>            
            <div class="col-sm-12 col-md-6 col-lg-6 distribution_single_item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
               <div class="distribution_single">
                   <div class="distribution_wrapper">
                        <div class="distribution_details">
                           <h3>Sale</h3>
                           <div class="token_shape">
                                <span class="shape1 header-shape"><img src="images/shape/home_6/token_1.png" alt=""></span>
                                <span class="shape2 header-shape"><img src="images/shape/home_6/token_2.png" alt=""></span>
                                <span class="shape3 header-shape"><img src="images/shape/home_6/token_3.png" alt=""></span>
                                <span class="shape4 header-shape"><img src="images/shape/home_6/token_4.png" alt=""></span>
                                <span class="shape5 header-shape"><img src="images/shape/home_6/token_5.png" alt=""></span>  
                           </div>
                       </div> 
                       <ul class="details_content">
                           <li class="details details_1">
                                <p>Community</p> 
                                <div class="details_caption">
                                    <span>40%</span>
                                </div>
                            </li>
                           <li class="details details_3">
                                <p>Reserve Fund</p> 
                                <div class="details_caption">
                                    <span>20%</span>
                                </div>
                            </li>
                            <li class="details details_5">
                                <div class="details_caption">
                                    <span>5%</span>
                                </div>
                                <p>Team Advisor</p>  
                            </li>
                            <li class="details details_6">
                                <div class="details_caption">
                                    <span>15%</span>
                                </div>
                                <p>Sold globaly</p> 
                            </li>
                       </ul>
                   </div>
               </div>
            </div>  
        </div>           
    </div> 
    <div id="particles6-js" class="particles"></div>
</section>  -->

<!-- <section id="roadmap_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Cryptonio Roadmap</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Due to the use of large computing power and artificial instantly analyze user data and offer solutions for their further use.</p>
                </div>
            </div>
        </div>     
        <div class="row">        
            <div class="location_04">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="location_wrapper">
                        <div class="roadmap_position"></div>
                        <div class="location location_top location_1  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="map_date">
                                <h5>August, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Pre-Sale</h3>
                                <p>It is a long established fact that a reader will be looking at its layout.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_2  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <div class="map_date">
                                <h5>July, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Research</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                        <div class="location location_top location_3  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="map_date">
                                <h5>July, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Concept</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_4  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <div class="map_date">
                                <h5>July, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Coinbit</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <span class="shape2 header-shape"><img src="images/shape/home_6/road_map_2.png" alt=""></span>
    <span class="shape3 header-shape"><img src="images/shape/home_6/road_map_3.png" alt=""></span>   
    <div id="particles7-js" class="particles"></div>
</section> End roadmap -->



<!-- <section id="faq-area-06" class="faq-area">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Frequently Asked Questions</h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Artificial based on the neural network, the NRM assistant will instantly analyze user data use.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="faq-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="images/fap-01.png" alt="" class="img-fluid">
                </div>
            </div>            
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="faq-wrapper">
                     
                    <div class="panel-group accordion-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel accordion-single accordion-01  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      What cryptocurrencies can I use to purchase? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-02  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <div class="panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How do I benefit from the ICO Token? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        To Keep Makeup Looking Fresh Take A Powder 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>                        
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <div class="panel-heading" role="tab" id="headingfour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        What Curling Irons Are The Best Ones
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                              <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles10-js" class="particles"></div>
</section> -->



<footer id="footer-06" class="footer">
    <div class="container">
        <div class="row footer-btm-wrapper">
            <div class="col-md-12 col-lg-12">
                <div class="footer_items">
                    <div class="footer-single-col footer_single_list_1">
                        <h3 class="subtitle_1">&nbsp;<img src="{% static 'images/gradient-logo.png' %}" alt=""></h3>
                        <p>The coin that will reach the Andromeda galaxy.</p>

                    </div>

                    <div class="footer-single-col footer_single_list_2">
                        <h3 class="subtitle_1">Company</h3> 
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#welcome_cryptonic_06">About Us</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_3">
                        <h3 class="subtitle_1">Information</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://bscscan.com">BSCScan</a></li>
                            <li><a href="https://t.me/AndromedaTokenChat">Telegram</a></li>
                            <li><a href="https://poocoin.app">Charts</a></li>
                            <li><a href="#whitepapers-section">Whitepapers</a></li>
                        </ul>
                    </div>

                </div>                  
            </div>
        </div>       
    </div>  
    <div class="copyright">
        <p> Copyright &copy; 2020, Created  by <span>Ecology Theme</span></p>            
    </div>   
    <span class="shape1 header-shape"><img src="{% static 'images/shape/home_6/footer_shape_1.png' %}" alt=""></span>
    <span class="shape2 header-shape"><img src="{% static 'images/shape/home_6/footer_shape_2.png' %}" alt=""></span>
    <span class="shape3 header-shape"><img src="{% static 'images/shape/home_6/footer_shape_3.png' %}" alt=""></span>           
</footer><!-- ./ End Footer Area-->

    <!-- JavaScript Files -->
    <script src="{% static 'js/assets/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/assets/popper.min.js' %}"></script>
    <script src="{% static 'js/assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/assets/owl.carousel.min.js' %}"></script>    
    <script src="{% static 'js/assets/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/assets/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/assets/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/assets/jquery.downCount2.js' %}"></script>
    <script src="{% static 'js/assets/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/assets/particles.js' %}"></script>
    <script src="{% static 'js/assets/app.js' %}"></script>      
    <script src="{% static 'js/assets/smooth-scroll.js' %}"></script> 
    <script src="{% static 'js/assets/wow.min.js' %}"></script>              
    <script src="{% static 'js/custom.js' %}"></script>  
</body>

<!-- Mirrored from ecologytheme.com/theme/cryptonio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Apr 2021 14:28:16 GMT -->
</html>
